repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ./scripts/lint.sh check
        language: system
        types: [python]
        verbose: true

      - id: ruff-format
        name: ruff-format
        entry: ./scripts/lint.sh format
        language: system
        types: [python]
        verbose: true

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false
